@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

/* .optionCounterButton:disabled {
  cursor: not-allowed;
} */

.fListItem {
  margin-bottom: 10px;
  color: #003580;
  cursor: pointer;
}
